html {
    font-size: 16px;

    +tablet() {
        font-size: 15px;
    }

    +mobile() {
        font-size: 14px;
    }
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

p {
    line-height: 1.5;
}

.datepicker-dropdown {
    position: absolute;
    background-color: #FFF;
    opensans(12)
    line-height: 30px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-top-color: #23467d;
    -webkit-box-shadow: 0 3px 6px #ccc;
    box-shadow: 0 3px 6px #ccc;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.datepicker-dropdown:before {
    border-bottom-color: $laranja;
}

.datepicker-top-left:after, .datepicker-top-left:before, .datepicker-top-right:after, .datepicker-top-right:before {
    border-top: 0;
    left: 10px;
    top: -5px;
}

.datepicker-container:after, .datepicker-container:before {
    border: 5px solid transparent;
    content: " ";
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}

.datepicker-panel>ul>li {
    background-color: #fff;
    cursor: pointer;
    float: left;
    height: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 30px;
}