desktop-base-width = 1200px;
rupture.desktop-cutoff = $tablet = 1260px;
rupture.mobile-cutoff = $mobile = 768px;
rupture.anti-overlap = -1px;
$azul = #23467D;
$laranja = #FF6600;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

opensans($size, $weight = normal, $style = normal) {
    font-size: $rem($size);
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    font-style: $style;

    if ($weight == bold) {
        font-weight: 700;
    }
}
