.not-found {
    width: 100%;
    text-align: center;
    padding: 280px 0;

    +tablet() {
        padding: 160px 5%;
    }

    +mobile() {
        padding: 100px 5%;
    }

    h1 {
        display: inline-block;
        padding: 15px 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border: 2px solid $laranja;
        color: $azul;
        opensans: 12 bold;
        line-height: 1;
    }
}
