.contatos-divisao {
    + .contatos-divisao {
        margin-top: $rem(45);
    }

    h2 {
        opensans: 16 bold;
        color: $laranja;
        margin: 0 0 1em;
    }

    h3 {
        opensans: 16 bold;
        color: $azul;
        margin: 0 0 1.5em;
    }

    .email {
        display: flex;
        color: $azul;
        opensans: 16;

        + .email {
            margin-top: 1em;
        }

        span {
            width: $rem(335);
            margin-right: $rem(15);
        }

        a {
            font-weight: 700;

            &:hover {
                color: $laranja;
            }
        }

        +mobile() {
            display: block;

            span {
                display: block;
                width: 100%;
                margin: 0 0 0.3em;
            }

            a {
                display: block;
            }
        }
    }
}
